/*@import url(https://fonts.googleapis.com/css?family=Bungee);*/

/* vietnamese */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url('../fonts/N0bU2SZBIuF2PU_0AnR1Gd8.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url('../fonts/N0bU2SZBIuF2PU_0A3R1Gd8.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url('../fonts/N0bU2SZBIuF2PU_0DXR1.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  font-family: 'Bungee';
}

h1 {
  margin: 0;
}

#galeria{
  max-width: 1300px;
  display: flex;
}

header {
  font-size: 70px;
  text-align: center;
  text-shadow: 3px 20px 20px black;
  background: #000;
  width: 100%;
  margin-top: 23px;
  height: 184px;
  box-shadow: 0px 5px 10px #000;
  font-family: 'Lobster', cursive;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

.cuadro {
  border: 8px ridge sienna;
  box-shadow: 5px 5px 10px #000;
  width: 250px;
  height: 390px;
}

.std {
  border: 8px ridge sienna;
  box-shadow: 5px 5px 10px #000;
  height: 390px;
  transition: all 2s linear;
}

.std:hover {
  /*filter: sepia(1);*/
  transition: all 2s linear;
}

.cuadro:hover {
  /*filter: sepia(1);*/
  transition: all 2s linear;
}

#sill {
  max-width: 100%;
  height: auto;
}

.vng {
  border: 8px ridge sienna;
  box-shadow: 5px 5px 10px #000;
  height: 330px;
  transition: all 2s linear;
}

.vng:hover {
  /*filter: sepia(1);*/
  transition: all 2s linear;
}

footer {
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  background: #2ABB9B;
  width: 100%;
  height: 200px;
  box-shadow: 0px 5px 10px #000 inset;
  text-align: center;
}

.fa-github,
.fa-twitter {
  color: black;
  font-size: 30px;
}

.titulo{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.container_heaader {
  width: 100%;
  display: flex;
  height: 100%;
}
.container_imagen1 {
    width: 33.3%;
    height: 85%;
    margin: auto;
}

img.logo {
  width: 27%;
  border: 10px dashed #dcc200;

}

img.logo2 {
  width: 41%;
  border: 10px dashed #dcc200;

}

.container_imagen11 {
    height: 100%;
}

canvas#canvas {
    margin-top: -18px;
}
.container_cuadro{
  width: 25%;
}
.container_ruleta{
  width: 31%;
}
.container_castigo{
  width: 19%;
}
  .conteiner_caja1 {
     width: 100%; 
  }

  a:link
    {
    text-decoration:none;
    }

    .conteiner_caja1{
      width: 40%;

    }
    .conteiner_caja2{
      width: 30%;
    }
    .conteiner_caja3{
      width: 30%;
    }
    .caja1{    
      height: 300px;
      width: 80%;
    }
    .caja2{    
      height: 300px;
      width: 400px;
    }
    .caja3{    
      height: 300px;
      width: 400px;
    }

    #foot {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    background: #2ABB9B;
    width: 100%;
    height: 350px;
    box-shadow: 0px 5px 10px #000 inset;
    text-align: center;


  }
  a:link
  {
  text-decoration:none;
  }
/*responsive*/

@media screen and (max-width:640px) {
  header {
      font-size: 70px;
      text-align: center;
      text-shadow: 3px 20px 20px black;
      background: #000;
      width: 100%;
      margin-top: 100%;
      height: 50%;
      box-shadow: 0px 5px 10px #000;
      font-family: 'Lobster', cursive;
  }
  img.logo {
      width: 69%;
      border: 10px dashed #dcc200;
  }
  article{
    margin-left: -40px;
  }
  img.logo2 {
      width: 85%;
      border: 10px dashed #dcc200;
  }
  .container_heaader {
      width: 100%;
      display: block; 
      height: 37%;
  }

  .btn{
    display: inline-block;
  }
  #galeria{
    display: block;
    text-align: center;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
  .conteiner_caja1 {
      width: 100%;
  }
  .conteiner_caja2, .conteiner_caja3 {
      width: 100%;
      margin-top: 14%;
  }

  .conteiner_caja3 {
        width: 100%;
        margin-top: 14%;
        margin-bottom: 10%;
    }



  /* reglas CSS */
}
@media screen and (max-width:640px) {

  /* reglas CSS */
}
@media screen and (max-width:1024px) and (min-width:640px) {

  /* reglas CSS */
}
@media screen and (min-width:1024px) {

  /* reglas CSS */
}
