@import url(https://fonts.googleapis.com/css?family=Bungee);

body {
  margin: 0;
  font-family: 'Bungee';
}

h1 {
  margin: 0;
}

#galeria{
  max-width: 1300px;
  display: flex;
}

header {
  font-size: 70px;
  text-align: center;
  text-shadow: 3px 20px 20px black;
  background: #000;
  width: 100%;
  margin-top: 23px;
  height: 144px;
  box-shadow: 0px 5px 10px #000;
  font-family: 'Lobster', cursive;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

.cuadro {
  border: 8px ridge sienna;
  box-shadow: 5px 5px 10px #000;
  width: 250px;
  height: 390px;
}

.std {
  border: 8px ridge sienna;
  box-shadow: 5px 5px 10px #000;
  height: 390px;
  transition: all 2s linear;
}

.std:hover {
  filter: sepia(1);
  transition: all 2s linear;
}

.cuadro:hover {
  filter: sepia(1);
  transition: all 2s linear;
}

#sill {
  max-width: 100%;
  height: auto;
}

.vng {
  border: 8px ridge sienna;
  box-shadow: 5px 5px 10px #000;
  height: 330px;
  transition: all 2s linear;
}

.vng:hover {
  filter: sepia(1);
  transition: all 2s linear;
}

footer {
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  background: #2ABB9B;
  width: 100%;
  height: 200px;
  box-shadow: 0px 5px 10px #000 inset;
  text-align: center;
}

.fa-github,
.fa-twitter {
  color: black;
  font-size: 30px;
}

.titulo{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.container_heaader {
  width: 100%;
  display: flex;
  height: 100%;
}
.container_imagen1 {
    width: 33.3%;
    height: 85%;
    margin: auto;
}

img.logo {
  width: 27%;
  border: 10px dashed #dcc200;

}

img.logo2 {
  width: 41%;
  border: 10px dashed #dcc200;

}

.container_imagen11 {
    height: 100%;
}

canvas#canvas {
    margin-top: -18px;
}
.container_cuadro{
  width: 25%;
}
.container_ruleta{
  width: 31%;
}
.container_castigo{
  width: 19%;
}


